#textdomain wesnoth-Classic_era

[multiplayer]
    id=archipelago
    name= _ "Random map - Archipelago"
    #textdomain wesnoth-multiplayer
    description= _ "Randomly generated map. Note: random maps are often unbalanced, but if you have time, you can regenerate them until you get a good one."
    map_generation=default
    [generator]
        [scenario]
            #textdomain wesnoth-Classic_era
            id=archipelago
            name= _ "Random map - Archipelago"
            experience_modifier=70%
            turns=-1
            allow_new_game=yes
            fog=yes
            shroud=no
            {DEFAULT_MUSIC_PLAYLIST}
            {DEFAULT_SCHEDULE}
            {CONVERT_CASTLE "hs,hw,dr,d"}
        [/scenario]

        border_size=0
        map_width=40
        map_height=40
        iterations=4000
        hill_size=4
        max_lakes=150
        villages=16
        players=4
        min_lake_height=350
        lake_size=250
        river_frequency=500
        island_size=6
        castle_size=5

        temperature_iterations=7000
        temperature_size=5

        roads=16
        road_windiness=14

        [height]
            height=750
            terrain=Mm^Xm
        [/height]
        [height]
            height=700
            terrain=Md
        [/height]
        [height]
            height=575
            terrain=Hh
        [/height]
        [height]
            height=425
            terrain=Gs
        [/height]
        [height]
            height=350
            terrain=Re
        [/height]
        [height]
            height=250
            terrain=Ds
        [/height]
        [height]
            height=200
            terrain=Ww
        [/height]
        [height]
            height=20
            terrain=Wo
        [/height]
        [height]
            height=0
            terrain=Wog
        [/height]

        #savannah appears on moderate temperature and elevation
        [convert]
            min_temperature=400
            max_temperature=600
            #        min_height=250
            max_height=500
            from=Gs,Re
            to=Gd
        [/convert]

        #swamp appears on low land, at moderate temperatures
        [convert]
            min_temperature=250
            max_temperature=350
            max_height=200
            from=Gg,Gs,Ww,Re
            to=Ss
        [/convert]

        #jungle appears at moderately temperatures
        [convert]
            min_temperature=350
            max_temperature=400
            from=Gs,Re
            to=Gs^Ft
        [/convert]

        #jungle appears at moderately temperatures
        [convert]
            min_temperature=350
            max_temperature=400
            from=Ds
            to=Ds^Ft
        [/convert]

        #fungus appears at medium temperatures and extremely high elevation
        [convert]
            min_temperature=525
            max_temperature=550
            #         min_height=825
            #         max_height=950
            from=Gs,Re
            to=Gs^Uf
        [/convert]

        [convert]
            min_temperature=500
            max_temperature=525
            #         min_height=825
            #         max_height=950
            from=Ds
            to=Ds^Ufi
        [/convert]

        #lava appears at extreme temperatures and elevation
        [convert]
            min_temperature=600
            #        min_height=800
            from=Md,Mm^Xm
            to=Qlf
        [/convert]

        #desert appears at extreme temperatures
        [convert]
            min_temperature=800
            from=Gs,Re
            to=Ds
        [/convert]

        #dunes appear at extreme temperatures and moderate elevation
        [convert]
            min_temperature=500
            min_height=400
            max_height=550
            from=Ds, Hh
            to=Hd
        [/convert]

        # at hight temperatures change water to tropical
        [convert]
            min_temperature=500
            max_temperature=725
            from=Ww
            to=Wwt
        [/convert]
        # at extreme temperatures reef appear
        [convert]
            min_temperature=700
            min_height=50
            from=Wo,Hh
            to=Wwr
        [/convert]

        #road costs
        [road_cost]
            terrain=Re
            cost=5
            convert_to=Rd
        [/road_cost]

        [road_cost]
            terrain=Gs
            cost=10
            convert_to=Rd
        [/road_cost]

        [road_cost]
            terrain=Ds
            cost=20
            convert_to=Rb
        [/road_cost]

        [road_cost]
            terrain=Gs^Ft
            cost=20
            convert_to=Rd
        [/road_cost]

        [road_cost]
            terrain=Ds^Ft
            cost=20
            convert_to=Rd
        [/road_cost]

        [road_cost]
            terrain=Ww
            cost=50
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            convert_to=Wwr
        [/road_cost]
        [road_cost]
            terrain=Ss
            cost=50
            convert_to_bridge=Ss^Bw|, Ss^Bw/, Ss^Bw\
            convert_to=Sm
        [/road_cost]
        [road_cost]
            terrain=Wo
            cost=200
            convert_to_bridge=Wo^Bw|, Wo^Bw/, Wo^Bw\
            convert_to=Ce
        [/road_cost]

        [road_cost]
            terrain=Hh
            cost=30
            convert_to=Rd
        [/road_cost]

        [road_cost]
            terrain=Md
            cost=40
            convert_to=Rr
        [/road_cost]

        [road_cost]
            terrain=Mm^Xm
            cost=75
            convert_to=Rr
        [/road_cost]

        [road_cost]
            terrain=Qxu
            cost=100
            convert_to_bridge=Qxu^Bs|, Qxu^Bs/, Qxu^Bs\
            convert_to=Cud
        [/road_cost]
        [road_cost]
            terrain=Ql
            cost=100
            convert_to_bridge=Ql^Bs|, Ql^Bs/, Ql^Bs\
            convert_to=Cud
        [/road_cost]

#define MIN_COST_ROAD TERRAIN
    [road_cost]
        terrain={TERRAIN}
        cost=2
        convert_to={TERRAIN}
    [/road_cost]
#enddef

        {MIN_COST_ROAD Rd}
        {MIN_COST_ROAD Rb}
        {MIN_COST_ROAD Rr}
        {MIN_COST_ROAD Ww^Bw|}
        {MIN_COST_ROAD Ww^Bw/}
        {MIN_COST_ROAD Ww^Bw\}
        {MIN_COST_ROAD Ss^Bw|}
        {MIN_COST_ROAD Ss^Bw/}
        {MIN_COST_ROAD Ss^Bw\}
        {MIN_COST_ROAD Wo^Bw|}
        {MIN_COST_ROAD Wo^Bw/}
        {MIN_COST_ROAD Wo^Bw\}
        {MIN_COST_ROAD Ql^Bs|}
        {MIN_COST_ROAD Ql^Bs/}
        {MIN_COST_ROAD Ql^Bs\}
        {MIN_COST_ROAD Qxu^Bs|}
        {MIN_COST_ROAD Qxu^Bs/}
        {MIN_COST_ROAD Qxu^Bs\}
        {MIN_COST_ROAD Ce}
        {MIN_COST_ROAD Sm}
        {MIN_COST_ROAD Wwf}
        {MIN_COST_ROAD Cud}
        {MIN_COST_ROAD Wwr}

        [village]
            terrain=Gs
            convert_to=Gs^Vht
            adjacent_liked=Gg, Gs, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
            rating=6
        [/village]
        [village]
            terrain=Ds
            convert_to=Dd^Vda
            rating=5
            adjacent_liked=Gg, Gs, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]
        [village]
            terrain=Hh
            convert_to=Hh^Vhh
            rating=4
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]
        [village]
            terrain=Mm
            convert_to=Mm^Vhh
            rating=3
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #swamp villages
        [village]
            terrain=Ss
            convert_to=Ss^Vhs
            rating=8
            adjacent_liked=Gg, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gg^Ve, Gg^Vh, Hh, Gs^Fp
        [/village]

        #mermen villages
        [village]
            terrain=Ww
            convert_to=Ww^Vm
            rating=6
            adjacent_liked=Ww, Ww
        [/village]

        [castle]
            valid_terrain=Gs, Gg, Gs^Ft, Hh, Ds, Ww, Ss, Wwr, Re, Rd
            min_distance=12
        [/castle]

        [naming]
            {VILLAGE_NAMES}
        [/naming]

        [village_naming]
            {VILLAGE_NAMES}
        [/village_naming]
    [/generator]
[/multiplayer]
